body {
}
.navBarTop {
    background-color: #d6938a !important; /* Forzar el color de fondo */
    padding: 10px;
}

.Labelfooter {
    background-color: aqua;
}
.Labelconteiner{
    background-color:black !important;
}
.topRed {
    background-color: #d6938a !important; /* Fondo crema */
    color: #d6938a !important; /* Texto blanco */
    padding: 10px !important;
}
.topDecoration {
    background-color: #d6938a ;
}
.informacionYcontacto {
    background-color: #ffffff;
}
.letrasNegras{
    color: aqua;
}

#TextAdvertencia{
   /* color:aliceblue;*/
}