body {
}
.navBarTop{
    background-color:#feabff ;
}
.Labelfooter{
    background-color:aqua;
}
.Labelconteiner{
    background-color:blueviolet;
}
.topBlack {
    /* background-color:black;*/
}
.topDecoration {
    background-color:black;
}
.informacionYcontacto {
    background-color: #ff0000;
}

